<h1>Welcome to OmNom Pizzeria!</h1>
<p>If you are new to our site, please register. Otherwise, please place an order.</p>

<p><%= link_to 'Place an Order', new_order_path %></p>
<p><%= link_to 'Register', new_user_path %></p>