<div class="field">
  <%= f.label :size %><br />
  <%= f.select :size, ["Small", "Medium", "Large"], :prompt => "Select a size" %><br />
</div>
<p>
<% Topping.all.each do |topping| %>
  <%= check_box_tag "pizza[topping_ids][]", topping.id, @order.pizzas.first.topping_ids.include?(topping.id) %>
  <%#= check_box_tag "pizza[topping_ids][]", topping.id, @order.pizza.topping_ids.include?(topping_id) %>
  <%#= check_box_tag "pizza[topping_ids][]", topping.id, pizza.topping_ids.include?(topping.id) %>
  <%#= check_box_tag "pizza[topping_ids][]", topping.id, @pizza.topping_ids.include?(topping.id) %>
  <%= topping.name %><br />
<% end %>
</p>